# rust implementation
target/
_/

# go implementation
go/examples/tiny/tiny.go
go/tests/basic/basic.go
go/tests/charsets/charsets.go
go/tests/charsets/charsets.nocap.go
go/tests/import/import.go
go/tests/import/import.nocap.go
go/tests/json/json.go
go/tests/json/json.nocap.go
go/tests/json/json.stripped.go
go/tests/json/json.stripped.nocap.go
go/tests/langlang/langlang.go
go/tests/langlang/langlang.nocap.go
go/tests/recovery/recovery.go
go/*.test
go/benches/go/**/*.out
