# generic stuff
target/
_/
*.o
__pycache__
.gocache
.gopath

# go implementation
go/examples/tiny/tiny.go
go/tests/arithmetic/arithmetic.go
go/tests/arithmetic/arithmetic.nocap.go
go/tests/arithmetic_leftrec/arithmetic.go
go/tests/arithmetic_leftrec/arithmetic.nocap.go
go/tests/basic/basic.go
go/tests/charsets/charsets.go
go/tests/charsets/charsets.nocap.go
go/tests/import/import.go
go/tests/import/import.nocap.go
go/tests/json/json.go
go/tests/json/json.nocap.go
go/tests/json/json.stripped.go
go/tests/json/json.stripped.nocap.go
go/tests/langlang/langlang.go
go/tests/langlang/langlang.nocap.go
go/tests/recovery/recovery.go
go/*.test
go/benches/go/**/*.out

# benchmarks
benchmarks/output/
benchmarks/json.go
benchmarks/json.nocap.go
benchmarks/json.stripped.go
benchmarks/json.stripped.nocap.go
benchmarks/antlr-4.13.1-complete.jar
benchmarks/benchmarks.test
benchmarks/treesitter_json/tree-sitter-json-grammar/
benchmarks/antlr_json/*.go
benchmarks/antlr_json/*.interp
benchmarks/antlr_json/*.tokens
benchmarks/pigeon_json/json.pigeon.go
benchmarks/pointlander_json/json.pointlander.peg.go
benchmarks/pointlander_json_stripped/json.stripped.pointlander.peg.go
